* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #dfdbe5;
  font-size: 16px;
}

h3 {
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
}

li {
  list-style-type: none;
  margin: 15px;
}

/* #header-img,
#nav-bar {
  display: inline;
} */

#top-bumper {
  top: 0;
  padding: 15px;
  position: fixed;
  width: 100%;
  background-color: #dfdbe5;
}

#header {
  border: dashed 2px red;
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
  background: rgb(85, 15, 76);
  color: #dfdbe5;
  width: 100%;
  max-height: 8rem;
  position: fixed;
  top: 15px;
  > div {
    text-align: center;
    width: 50px;
    height: 50px;
    line-height: 50px;
  }
}

#header-img {
  /* top: -25px; */
  /* float: left;
  position: relative; */
  /* height: auto; */
  /* width: 10%; */
}

/* #nav-bar {
  top: 2.5rem;
  text-align: center;
  float: right;
  position: relative;
  height: auto;
  width: 90%;
} */

.nav-link {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.75rem;
  padding: 0 2rem;
}
.nav-link:hover {
  color: #fff;
  text-shadow: 2px 2px 8px #fff;
}

#main {
  margin-top: 12%;
}

#hero {
  top: -1rem;
  color: #111;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

#form {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
}

#about {
  display: flex;
  justify-content: space-around;
}

#link1 {
  margin: 2rem;
  font-size: 1.5rem;
  padding: 1.5rem;
}

#link2 {
  margin: 2rem;
  font-size: 1.5rem;
  padding: 1.5rem;
}

#link0 {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#link0 li {
  text-align: center;
  font-size: 1.25rem;
}

#link3 {
  padding: 2rem;
  text-align: center;
  font-size: 1.25rem;
}

#footer {
  position: absolute;
  top: 1500px;
  right: 50%;
  text-align: center;
}
