* {
  font-family: "Montserrat", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #dfdbe5;
  font-size: 16px;
}

h3 {
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
}

li {
  list-style-type: none;
  margin: 15px;
}

#header-img,
#nav-bar {
  display: inline;
}

#top-bumper {
  top: 0;
  padding: 50px;
  position: fixed;
  width: 100%;
  background-color: #dfdbe5;
}

#header {
  padding: 10px 16px;
  background: rgb(85, 15, 76);
  color: #dfdbe5;
  width: 100%;
  max-height: 4rem;
  position: fixed;
  top: 50px;
}

#header-img {
  top: -60px;
  float: left;
  position: relative;
  height: auto;
  width: 10%;
}

#nav-bar {
  text-align: center;
  float: right;
  position: relative;
  height: auto;
  width: 90%;
}

.nav-link {
  text-decoration: none;
  color: #f1f1f1;
  font-size: 1.5rem;
  padding: 2rem;
}

#main {
  margin-top: 12%;
}

#hero {
  top: -1rem;
  color: #111;
  font-size: 4rem;
  text-align: center;
  padding-bottom: 1.5rem;
}

#form {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
  padding: 1rem;
}

#link1 {
  margin: 2rem 20%;
  font-size: 1.5rem;
  padding: 1.5rem;
}

#link2 {
  margin: 2rem 20%;
  font-size: 1.5rem;
  padding: 1.5rem;
}

li > #link2 {
}

#footer {
  position: absolute;
  top: 1500px;
  right: 50%;
  text-align: center;
}
